*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
}
i,
svg {
  pointer-events: none;
}

header {
  height: 10vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sequencer {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 2rem;
}

.track-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.controls h2 {
  font-size: 2rem;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.kick-pad {
  background: rgba(231, 128, 59, 0.534);
}
.snare-pad {
  background: rgba(216, 59, 177, 0.534)
}
.hihat-pad {
  background: rgb(50, 184, 56, 0.534);
}
.kick-pad.active {
  background: rgb(231, 128, 59);
  box-shadow: none;
}
.snare-pad.active {
  background: rgb(218, 58, 178);
  box-shadow: none;
}
.hihat-pad.active {
  background: rgb(50, 184, 56);
  box-shadow: none;
}

.hihat-track,
.snare-track,
.kick-track {
  width: 100%;
  display: flex;
  align-items: center;
}

.kick,
.snare,
.hihat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.controls h2 {
  margin: auto;
}

.controls button {
  padding: 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  background: rgb(182, 182, 182);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  border-radius: .2rem;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

select {
  padding: 1rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: .2rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mute.active {
  background: rgb(88, 88, 88);
  box-shadow: none;
}

.tempo {
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media only screen 
  and (min-device-width: 250px) 
  and (max-device-height: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* HAS GOOD LAYOUT */
    header {
      display: none;
    }
    .sequencer {
      position: relative;
      margin: none;
      display: block;
      background-color: #fff;
      box-shadow: none;
      border-radius: 0;
    }
    select {
      padding: .3rem;
      font-size: 1rem;
    }
    .controls button {
      padding: .3rem;
    } 
    .play {
      font-size: 1rem;
    }
    .tempo p {
      font-size: 1rem;
    }
    .controls h2 {
      font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1000px) {
  .kick-track, .snare-track, .hihat-track  {
    flex-direction: column;
  }
  .kick-track>.controls, .snare-track>.controls, .hihat-track>.controls {
    margin-bottom: 2rem;
  }
}
/* for  smaller screens*/
@media only screen and (max-width: 600px) {
  .controls h2 {
    font-size: 1.6rem;
  }
  /* pad size stay*/
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 3rem;
    height: 3rem;
  }
}
/* for  galaxy s10 */
@media only screen and (max-width: 440px) {
  .controls h2 {
    font-size: 1.6rem;
  }
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 2rem;
    height: 2rem;
  }
}