*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1514900389014-caae55f63513?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGFyayUyMG1vdW50YWluc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
i,
svg {
  pointer-events: none;
}

body > div {
  display: flex;
  margin-top: 5rem;
}

header {
  color: rgb(225, 225, 225);
  height: 10vh;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sequencer {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(248,248,248,0.6);
-webkit-backdrop-filter: blur(3px);
backdrop-filter: blur(3px);
border: 1px solid rgba(248,248,248,0.3);
border-radius: 2rem;
}

.track-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.controls h2 {
  font-size: 2rem;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.kick-pad {
  background: #22484d67;
}
.snare-pad {
  background: #c48d405a;
}
.hihat-pad {
  background: #0711124a;
}
.kick-pad.active {
  background: #22484d;
  box-shadow: none;
}
.snare-pad.active {
  background: #c48d40;
  box-shadow: none;
}
.hihat-pad.active {
  background: #050b0c;
  box-shadow: none;
}

.hihat-track,
.snare-track,
.kick-track {
  width: 100%;
  display: flex;
  align-items: center;
}

.kick,
.snare,
.hihat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.controls h2 {
  margin: auto;
  color: rgb(20, 20, 20);
}

.controls>div {
  width: 70%;
}

.controls button {
  padding: 1rem;
  border: none;
  color: rgb(225, 225, 225);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  background: rgb(182, 182, 182);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  border-radius: .2rem;
  color: rgb(225, 225, 225);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

select {
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(225, 225, 225);
  border: none;
  border-radius: .2rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.mute.active {
  background: rgb(88, 88, 88);
  box-shadow: none;
}

.tempo {
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.outro-logo-cntr {
  position: absolute;
  right: 5%;
  bottom: 15%;
  color: rgb(225, 225, 225);
  display: flex;
  padding-bottom: 2rem
}
.outro-logo {
  position: relative;
  background: rgb(18,194,233);
  background: -webkit-linear-gradient(45deg, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: rgb(5,11,12);
  background: linear-gradient(23deg, rgba(5,11,12,1) 29%, rgba(241,191,121,0.7203081916360294) 75%);
  width: 8rem;
  height: 8rem;
  margin-left: 2rem;
  transform:
    rotateX(51deg)
    rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
}

.outro-logo p {
  position: relative;
  top: 33%;
  left: 20%;
}

.outro-logo h6 {
  position: absolute;
  bottom: 33%;
  right: 20%;
}

.outro-logo:hover {
  transform:
      translate3d(0px, -16px, 0px)
      rotateZ(0deg);
  box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

@media only screen 
  and (min-device-width: 250px) 
  and (max-device-height: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sequencer {
      position: relative;
      margin: none;
      display: block;
    }
    select {
      padding: .3rem;
      font-size: 1rem;
    }
    .controls button {
      padding: .3rem;
    } 
    .play {
      font-size: 1rem;
    }
    .tempo p {
      font-size: 1rem;
    }
    .controls h2 {
      font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1000px) {
  .controls>div {
    width: 100%;
    margin-left: 2rem;
  }
  .kick-track, .snare-track, .hihat-track  {
    flex-direction: column;
  }
  .kick-track>.controls, .snare-track>.controls, .hihat-track>.controls {
    margin-bottom: 2rem;
  }
}
/* for  smaller screens*/
@media only screen and (max-width: 600px) {
  .controls h2 {
    font-size: 1.6rem;
  }
  /* pad size stay*/
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 3rem;
    height: 3rem;
  }
  .outro-logo {
    width: 7rem;
    height: 7rem;
  }
}
/* for  galaxy s10 */
@media only screen and (max-width: 440px) {
  header {
    font-size: 1.2rem;
  }
  .controls h2 {
    font-size: 1.6rem;
  }
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 2rem;
    height: 2rem;
  }
  .outro-logo {
    display: none;
  }
}